[package]
name = "ditherpunker-macros"
version = "0.0.1"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
multiversion = "0.8"
